{% extends 'base.html' %}
{% load static %}

{% block title %}
    Subir Apk
{% endblock title %}

{% block content %}
<div class="header">
    <h1>Subir APK</h1>
    <div class="container-btn">
        <a href="{% url 'apk_app:allApks' %}" class="back-btn">Ver todos las sApks</a>
    </div>
</div>

<div class="container">
    <form method="post" enctype="multipart/form-data" class="upload-form">
        {% csrf_token %}
        <label for="id_title">Título:</label>
        {{ form.title }}    
       {{form.document}}
        <button type="submit" class="upload-btn">Subir</button>
    </form>
</div>


{% endblock content %}
