{% extends 'base.html' %}
{% load static %}

{% block title %}
    Buscar APKs
{% endblock title %}

{% block content %}
<div class="header">
    <h1>Buscar APKs</h1>

    <form method="get" class="search-form">
        {% csrf_token %}
        <input type="text" name="search" class="search" placeholder="Buscar APK..." value="{{ request.GET.search }}">
        <input type="submit" value="🔍" class="search-btn">
    </form>

    <div class="container-btn">
        <a href="{% url 'apk_app:allApks' %}" class="back-btn">Ver todos los APKs</a>
    </div>
</div>

<div class="container">
    {% if archivos %}
        <h2>Resultados desde Carpeta Estática</h2>
        <ul class="doc-list">
            {% for archivo in archivos %}
            <li class="doc-item">
                <div class="text">
                    <h4>{{ archivo|slice:"5:" }}</h4>
                    <p>Archivo estático</p>
                </div>
                <div class="btn">
                    <a href="{% static archivo %}" target="_blank" class="view-btn">Ver</a>
                    <a href="{% static archivo %}" download class="download-btn">Descargar</a>
                </div>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No se encontraron archivos estáticos.</p>
    {% endif %}
</div>
{% endblock content %}
