{% extends 'base.html' %}
{% load static %}

{% block title %}
    Matrices
{% endblock title %}

{% block content %}
{% include 'includes/header.html' %}
<div class="container mt-5">
    <div class="card mb-5">
        <div class="card-header bg-success text-white"></div>
        
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="id_nombre" class="form-label">Nombre</label>
                    {{ form.nombre }}
                </div>
                <div class="mb-3">
                    <label for="id_descripcion" class="form-label">Descripción</label>
                    {{ form.descripcion }}
                </div>
                <button type="submit" class="btn btn-success">Crear</button>
            </form>
        </div>
    </div>

    <h2 class="mb-3">Lista de matrices de validacion</h2>
    <ul class="list-group">
        {% for matriz in super_matrices %}
            <li class="list-group-item">
                <a href="{% url 'matrix_app:detalle_super_matriz' matriz.id %}" class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">{{ matriz.nombre }}</a>
            </li>
        {% empty %}
            <li class="list-group-item">No hay matrices registradas.</li>
        {% endfor %}
    </ul>
</div>

{% endblock content %}
    
    

